* {
  box-sizing: border-box;
}

.grid {
  background-color: lightgrey;
  padding: 4px;
  max-width: max-content;
}

.row {
  display: flex;
}

.cell {
  width: 24px;
  height: 24px;
  background-color: lightgrey;
  background-size: 100%;
}

.closed {
  background-image: url("/images/closed.svg");
}

.pressed {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: none;
  border-right: none;
}

.opened {
  border: none;
}

.opened.blank {
  background-image: url("/images/blank.svg");
}

.opened.number-1 {
  background-image: url("/images/number-1.svg");
}

.opened.number-2 {
  background-image: url("/images/number-2.svg");
}

.opened.number-3 {
  background-image: url("/images/number-3.svg");
}

.opened.number-4 {
  background-image: url("/images/number-4.svg");
}

.opened.number-5 {
  background-image: url("/images/number-5.svg");
}

.opened.number-6 {
  background-image: url("/images/number-6.svg");
}

.opened.number-7 {
  background-image: url("/images/number-7.svg");
}

.opened.number-8 {
  background-image: url("/images/number-8.svg");
}

.flagged {
  background-image: url("/images/flag.svg");
}

.flagged.mine-wrong {
  background-image: url("/images/mine-wrong.svg");
}

.opened.mine-red {
  background-image: url("/images/mine-red.svg");
}

.container {
  width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nums-background {
  width: 62px;
  height: 38px;
  background-image: url("/images/nums-background.svg");
  background-size: 100%;

  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.nums-background > div {
  width: 16px;
  height: 32px;
  background-size: 100% 100%;
}

.d0 {
  background-image: url("/images/d0.svg");
}

.d1 {
  background-image: url("/images/d1.svg");
}

.d2 {
  background-image: url("/images/d2.svg");
}

.d3 {
  background-image: url("/images/d3.svg");
}

.d4 {
  background-image: url("/images/d4.svg");
}

.d5 {
  background-image: url("/images/d5.svg");
}

.d6 {
  background-image: url("/images/d6.svg");
}

.d7 {
  background-image: url("/images/d7.svg");
}

.d8 {
  background-image: url("/images/d8.svg");
}

.d9 {
  background-image: url("/images/d9.svg");
}

.face {
  width: 39px;
  height: 39px;
  background-image: url("/images/face-unpressed.svg");
  background-size: 100%;
}

.face:active {
  background-image: url("/images/face-pressed.svg");
}

.face.lose {
  background-image: url("/images/face-lose.svg");
}
